@def selectionBorderWidth 2px ; .cellTableWidget {
	
}

.cellTableFirstColumn {
	
}

.cellTableLastColumn {
	
}

.cellTableHeader {
	background-color: #fff;
	vertical-align: middle;
	font-weight: 500;
	color: #333;
	border-width: 1px;
	text-transform: uppercase;
	border-bottom: 2px solid #f0f0f0;
	padding: 15px;
	line-height: 1.42857143;
	text-align: left;
}

.cellTableFooter {
	border-top: 2px solid #6f7277;
	padding: 3px 15px;
	text-align: left;
	color: #4b4a4a;
	text-shadow: #ddf 1px 1px 0;
	overflow: hidden;
}

.cellTableCell {
	padding: 15px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #f0f0f0;
}

.cellTableFirstColumnFooter {
	
}

.cellTableFirstColumnHeader {
	
}

.cellTableLastColumnFooter {
	
}

.cellTableLastColumnHeader {
	
}

.cellTableSortableHeader {
	cursor: pointer;
	cursor: hand;
}

.cellTableSortableHeader:hover {
	color: #6c6b6b;
}

.cellTableSortedHeaderAscending {
	
}

.cellTableSortedHeaderDescending {
	
}

.cellTableEvenRow {
	background: #ffffff;
}

.cellTableEvenRowCell {
	border: selectionBorderWidth solid #ffffff;
}

.cellTableOddRow {
	background: #f3f7fb;
}

.cellTableOddRowCell {
	border: selectionBorderWidth solid #f3f7fb;
}

.cellTableHoveredRow {
	background: #eee;
}

.cellTableHoveredRowCell {
	border: selectionBorderWidth solid #eee;
}

.cellTableKeyboardSelectedRow {
	background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
	border: selectionBorderWidth solid #ffc;
}

.cellTableSelectedRow {
	background: #628cd5;
	color: white;
	height: auto;
	overflow: auto;
}

.cellTableSelectedRowCell {
	border: selectionBorderWidth solid #628cd5;
}
/**
 * The keyboard selected cell is visible over selection.
 */
.cellTableKeyboardSelectedCell {
	border: selectionBorderWidth solid #d7dde8;
}

.cellTableLoading {
	margin: 30px;
}