:root {
	--primary-color: #e91e63; /* PINK */
	--primary-color-light: ##f48fb1; /* PINK_LIGHTEN_3 */
	--secondary-color: #424242; /* GREY_DARKEN_3 */
	--secondary-color-light: #616161; /* GREY_DARKEN_2 */
	--secondary-color-dark: #212121; /* GREY_DARKEN_4 */
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid var(--primary-color);
    box-shadow: 0 1px 0 0 var(--primary-color)
}

.titleBar {
	color: #fff;
	background-color: var(--primary-color)
}

/*
* BTN, BTN-LARGE, BTN-FLAT, BTN-FLOATING
*/
.btn, .btn-large {
	color: #fff;
	background-color: var(--primary-color)
}

.btn:hover, .btn-large:hover {
	background-color: var(--primary-color-light)
}

.secondary-content {
	color: var(--primary-color)
}


/*
* COLLECTION
*/
.collection .collection-item.active{
	background-color:var(--primary-color);
	color:#ffff
}

/*
* SIDE-NAV
*/
nav {
	color: #fff;
	background-color: var(--secondary-color)
}

/*
* SIDE-NAV
*/
.side-nav {
	background-color: var(--secondary-color)
}

.side-nav>li>a:hover {
	background-color: var(--secondary-color-dark)
}
/* Az oldalmen� �sszecsukhat� elem�nek f�kuszban lev� k�zvetlen eleme (f�kuszban l�v� almen�) */
.side-nav .collapsible>li a:hover {
	background-color: var(--secondary-color-dark)
}
/* Az oldalmen� elmen�j�nek f�kuszban lev� k�zvetlen eleme */
.side-nav .collapsible-body li a:hover {
	background-color: var(--secondary-color-dark)
}

.side-nav li.active>a {
	color: var(--primary-color)
}
/* Akt�v elem k�zvetlen div-�nek k�zvetlen linkje (almen� fejl�ce) */
.side-nav li.active>div>a {
	color: var(--primary-color)
}

.side-nav .collapsible-body {
	background-color: var(--secondary-color-light)
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active a
	{
	color: var(--primary-color)
}

.side-nav a {
	color: #fafafa; /* GREY_LIGHTEN_5 */
}

.side-nav.fixed a {
	color: #444
}

/** Blockquote **/
blockquote {
	border-left: 5px solid var(--primary-color) !important;
}

.multiValueSuggestBox-panel:focus {
	border-bottom: 2px solid var(--primary-color) !important;
}

/** Image Slider **/
.slider .indicators .indicator-item.active {
	background-color: #2196f3;
}

/**SCROLLSPY**/
.table-of-contents a.active {
	border-left: 2px solid #2196f3 !important;
}

.table-of-contents a:hover {
	border-left: 1px solid #2196f3 !important;
}

.progress div {
	background-color: #1e88e5;
}

/**Time Picker**/
.lolliclock-header {
	background: #2196f3 !important;
}

.lolliclock-active-button-background {
	background-color: #2196f3 !important;
}

.lolliclock-button {
	color: #2196f3 !important;
}

.lolliclock-canvas-bg {
	fill: rgba(33, 150, 243, 0.25) !important;
}

.lolliclock-canvas-fg {
	fill: #2196f3 !important;
}

.lolliclock-canvas line {
	stroke: rgba(33, 150, 243, 0.5) !important;
}

.lolliclock-tick.active, .lolliclock-tick:hover {
	background-color: #64b5f6 !important;
}

/** File Uploader **/
.fileuploader .upload-label {
	background-color: #2196f3 !important;
}

.fileuploader .upload-label i {
	background: #fff !important;
	color: #2196f3 !important;
}

.fileuploader.active {
	background: #2196f3 !important;
}

.fileuploader.active .upload-label {
	color: #fff !important;
}

.preview-container .previews .zdrop-info .preview-icon {
	color: #2196f3 !important;
}

.preview-container .header {
	background-color: #2196f3 !important;
}

/** Window **/
.window .window-toolbar {
	background-color: #2196f3;
}

/** Tree Item **/
.tree-item i {
	color: #2196f3;
}

/** Stepper **/
.stepper .step.success>div:first-child i, .stepper .step.success .title,
	.stepper .step.success .description {
	color: #2196f3 !important;
}

.stepper .step>div:first-child .circle {
	background: #2196f3 !important;
}

/** Rich Editor **/
.editorDialogs .modal .btn, .editorDialogs .modal .btn-large,
	.note-editor .modal .btn, .note-editor .modal .btn-large {
	background: #2196f3 !important;
}

.editorDialogs .modal .btn-large:hover, .editorDialogs .modal .btn:hover,
	.note-editor .modal .btn-large:hover, .note-editor .modal .btn:hover,
	.note-editor .modal .btn.modal-close:hover, .note-editor .modal .file-field .btn:hover,
	.note-editor .modal .modal-footer .note-link-btn:hover, .note-editor .modal .modal-footer .note-image-btn:hover
	{
	background: #2196f3 !important;
}

button.waves-effect.waves-light.btn.disabled, button.waves-effect.waves-light.btn.disabled:hover
	{
	background: #d8d8d7 !important;
}

/** Rating **/
.material-rating {
	color: #2196f3;
}

/** Badge **/
.badge {
	background: #1976d2;
}

/*************************************************
* Tabs 
*************************************************/
.tabs {
	background: var(--primary-color)
}

/** Table **/
.table-container .top-panel {
	background: var(--secondary-color)
}

/** ComboBox **/
ul.select2-results__options[aria-multiselectable="true"] li.select2-results__option:not
	([role="group"] )[aria-selected="true"]:after {
	border: 2px solid #2196f3;
	background-color: #2196f3;
}